@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:#513cc9;
    --black:#000000;
    --bg:#ffffff;
    --border:.1rem solid rgba(204, 195, 195, 0.3);
}
*{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 5rem;
}
a{
    text-decoration: none;
}

#container{
    padding-top: 150px;
    margin-left: 3em;
    margin-right: 3em;
}

body{
 background-color: #d4f0fc;
}
 /*header section*/
 .heading{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}





.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 6rem;
}

.header .navbar a{
    margin:0 1rem;
    font-size: 1.6rem;
    color:rgb(0, 0, 0);
}

.header .navbar a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div{
    color:rgb(10, 6, 34);
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color:var(--main-color);
}

#menu-btn{
    display: none;
}



.header .paintings-container{
    position: absolute;
    top:100%; right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #fff;
    padding:0 1.5rem;
}

.header .paintings-container.active{
    right: 0;
}

.header .paintings-container .painting{
    position: relative;
    margin:2rem 0;
    display: flex;
    align-items: center;
    gap:1.5rem;
}

.header .paintings-container .painting img{
    height: 7rem;
    box-shadow: #262527 2px 2px 2px ;
}

.header .paintings-container .painting .content a{
    font-size: 2rem;
    color:var(--black);
    padding-bottom: .5rem;
    position: absolute;
    top:2rem; right: 1rem;
    text-shadow: #4c4b52 1px 1px 1px;
    

}

.header .paintings-container .painting .content a:hover {
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
    text-decoration:none;

}
.header .paintings-container .painting img{
    height: 7rem;
}


body {
 
  margin-left: 3em;
  margin-right: 3em;
}

.imgp {
  border-radius: 5px;
  box-shadow: 8px 8px 8px  rgb(85, 83, 83);
  border: 0.7px inset rgb(95, 92, 92);
}
.imgp2 {
    border-radius: 5px;
    box-shadow: 8px 8px 8px  rgb(85, 83, 83);
    border: 0.7px inset rgb(95, 92, 92);

    margin-left: 20%;
    
  }


p {
  font-size: 2rem;
  color: rgb(3, 3, 56);
  text-align: justify;
  line-height: 2.25;
  font-weight: 400;
}
h1 {
  padding-top: 2.3rem;
  text-shadow: 2px 2px 2px rgb(163, 163, 78);
  color: #592d1d;
  text-shadow: 2px 2px 2px rgb(78, 51, 51);
  font-size: 2.8em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
h2 {
  color: #667431;
  text-shadow: 2px 2px 2px rgb(163, 163, 78);
  text-shadow: #505540;
  font-size: 2.5em;
  font-style: italic;
  text-align: left;
}
video {
  border-radius: 6px;
  filter: drop-shadow(0 0 8px);
  border-color: rgb(100, 100, 100);
  box-shadow: 7px 7px 6px rgb(161, 154, 147);
  border-style: solid;
  width: 58em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 2px solid gray;
}

hr {
  border-style: dashed;
  border-top-width: 2px;
  border-bottom-width: 2px;
  color: #6b6767;
}
.para {
  

  color: rgb(33, 48, 80);
  font-style: italic;
  line-height: 2em;
  font-size: 1.7em;
  text-shadow: 0.5px 0.5px 0.5px rgb(238, 171, 144);
}
.style1 {
  text-align: left;
  font-size: 1.24em;
  transition: 0.5s;
  text-decoration: none;
}
p a {
  margin-right: 3em;
  color: #b37069;
  text-decoration: none;
}
.style1:hover {
  font-size: 1.25em;
  text-decoration: underline;
}
ul {
  list-style: none;
  position: relative;
  padding-left: 30%;
}
li {
  display: inline-block;
  margin-right: 10px;
  
}

.flex-cont {
  display: flex;
  flex-wrap: nowrap;
}
.flex-item {
  margin: 8px;
}


.footer{
    position: absolute;
  right: 0;left: 0;
    background:var(--black);
    text-align: center;
    
}

.footer .share{
    padding:1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    border:var(--border);
    margin:.3rem;
    border-radius: 50%;
}

.footer .share a:hover{
    background-color: var(--main-color);
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    gap:1rem;
}

.footer .links a{
    padding:.7rem 2rem;
    color:#fff;
    border:var(--border);
    font-size: 2rem;
}

.footer .links a:hover{
    background:var(--main-color);
}

.footer .credit{
    font-size: 2rem;
    color:#fff;
    font-weight: lighter;
    padding:1.5rem;
}

.footer .credit span{
    color:var(--main-color);
}


@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color:var(--black);
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }



}