@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
:root {
  --main-color: #513cc9;
  --black: #000000;
  --bg: #ffffff;
  --border: 0.1rem solid rgba(204, 195, 195, 0.3);
}

* {
  box-sizing: border-box;
}
body {
  background-color: #dfcdbf;
}

.header a {
  font-size: 95%;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}
.header {
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 7%;
  border-bottom: var(--border);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  font-weight: 500;
}

.header .logo img {
  height: 3.2rem;
  width: 4.1rem;
  margin: 0;
}

.header .navbar a {
  margin: 0 1rem;

  color: rgb(0, 0, 0);
}

.header .navbar a:hover {
  color: var(--main-color);
  border-bottom: 0.1rem solid var(--main-color);
  padding-bottom: 0.5rem;
}

.header .icons div {
  color: rgb(10, 6, 34);
  cursor: pointer;
  font-size: 1.5rem;
  margin-left: 2rem;
}

.header .icons div:hover {
  color: var(--main-color);
}
#menu-btn {
  display: none;
}

.header .paintings-container {
  position: absolute;
  top: 100%;
  right: -100%;
  height: calc(100vh - 9.5rem);
  width: 25rem;
  background: #fff;
  padding: 0 1.5rem;
}

.header .paintings-container.active {
  right: 0;
}

.header .paintings-container .painting {
  position: relative;
  margin: 2rem 0;

  align-items: center;
  gap: 1.5rem;
}

.header .paintings-container .painting .content a:hover {
  color: var(--main-color);
  border-bottom: 0.1rem solid var(--main-color);
  padding-bottom: 0.5rem;
  text-decoration: none;
}

.header .paintings-container .painting img {
  width: auto;
  height: auto;
  height: 7rem;
  box-shadow: #262527 2px 2px 2px;
  box-sizing: unset;
}

.header .paintings-container .painting .content a {
  font-size: 1rem;
  color: var(--black);
  padding-bottom: 0.5rem;
  position: absolute;
  top: 2rem;
  right: 1rem;
  text-shadow: #4c4b52 1px 1px 1px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(145, 107, 107);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6354a3;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(12, 76, 97);
}

#container {
  padding-top: 80px;
  margin-right: 4em;
  margin-left: 4em;
}

h1 {
  color: #1a4e61;
  font-size: 2.4em;
  text-shadow: 1px 0.5px #212c30;
  margin-top: 2em;
  font-family: "Prata", serif;
  margin-bottom: 2em;
  text-align: center;
}
h2 {
  color: #5c250c;
  font-size: 2.2em;
  text-shadow: 1px 0.5px rgb(76, 79, 109);
  font-family: "Prata", serif;
  font-weight: 800;
  margin-top: 3em;
  margin-bottom: 2em;
}
p {
  text-align: justify;
  line-height: 2em;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  font-weight: 800;
  color: rgb(2, 2, 48);
}
th {
  border-radius: 6px;
  border-style: inset;
  border-color: rgb(100, 71, 58);
  box-shadow: 4px 4px 4px rgb(85, 81, 81);
  padding-bottom: 20px;
}
table {
  display: block;
  margin-left: 6em;
}
tr {
  background-color: #fff1e8;
  font-style: italic;
  font-size: 1.1em;
}
h3 {
  font-size: 1.4em;
  color: #582c66;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-shadow: 1px rgb(153, 119, 124);
}

.card {
  box-shadow: 6px 7px 8px rgb(59, 48, 46);
  width: 30%;
  height: 20%;
  border-radius: 10px;
  border: 2px inset rgb(58, 34, 34);
  margin-bottom: 2em;
  margin-top: 2em;
  background-color: #ead6d6;
  padding-bottom: 2em;
  margin-left: 1.5em;
  cursor: pointer;
  transition: transform 0.2s;
}

.card img {
  height: 230px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: 0.7px solid rgb(43, 22, 22);
}

.card:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transition: scale(1.2);
  box-shadow: 8px 8px 8px 8px rgb(109, 94, 87);
}

p img {
  border-radius: 8px;
  border: inset 1.5px rgb(47, 47, 73);
}
img[title="Museum Atelier des Lumieres"] {
  border-radius: 7px;
}
img[title="Museum Atelier des lumieres"] {
  margin-left: 5em;
}
.container {
  padding: 2px 16px;
}

video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 7px;
  box-shadow: 4px 6px 6px grey;
}

.mySlides {
  display: none;
}
body img {
  vertical-align: middle;
  border-radius: 9px;
  height: 560px;
  width: 70em;
  cursor: pointer;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1100px;
  position: relative;
  text-align: center;
  margin: auto;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

a {
  text-decoration: none;
}

.footer {
  font-size: 62%;
  position: absolute;
  right: 0;
  left: 0;
  background: var(--black);
  text-align: center;
}

.footer .share {
  padding: 0.6rem 0;
}

.footer .share a {
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  font-size: 200%;
  color: #fff;
  border: var(--border);
  margin: 2px;
  border-radius: 50%;
}

.footer .share a:hover {
  background-color: var(--main-color);
}

.footer .links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
  gap: 1rem;
}

.footer .links a {
  padding: 0.7rem 2rem;
  color: #fff;
  border: var(--border);
  font-size: 180%;
}

.footer .links a:hover {
  background: var(--main-color);
}

.footer .credit {
  font-size: 180%;
  color: #fff;
  font-weight: lighter;
  padding: 1.5rem;
}

.footer .credit span {
  color: var(--main-color);
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}
#card2 {
  margin-top: -22.8em;
  margin-left: 50em;
}
#card1 {
  margin-bottom: 3em;
}
#card3 {
  margin-top: 4.5em;
}
#card4 {
  margin-top: -22.8em;
  margin-left: 50em;
}
#card5 {
  margin-top: 4.5em;
}
#card6 {
  margin-top: -22.8em;
  margin-left: 50em;
  height: 18%;
}
#card7 {
  margin-top: 4.5em;
}
#card8 {
  margin-top: -22.8em;
  margin-left: 50em;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 12px;
  border-radius: 50%;
  outline: none;
  margin-right: -2em;
  background-color: rgb(153, 107, 107);
  color: white;
  cursor: pointer;
  padding: 10px;
}

#myBtn:hover {
  background-color: rgb(90, 66, 66);
  box-shadow: 2px 2px 2px 2px rgb(104, 93, 93);
  border-color: #5c250c;
}
@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background: #fff;
    width: 30rem;
    height: calc(100vh - 9.5rem);
  }

  .header .navbar.active {
    right: 0;
  }

  .header .navbar a {
    color: var(--black);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
}
@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background: #fff;
    width: 30rem;
    height: calc(100vh - 9.5rem);
  }

  .header .navbar.active {
    right: 0;
  }

  .header .navbar a {
    color: var(--black);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
}
